*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.section1{
    background-image: url("images/bg.jpg");
    background-size: cover;
    color: white;
    /* padding: 10px; */
    /* text-align: center; */
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}
.section1 .title{
    /* display: inline-block; */
    margin: 0 auto;
    padding: 3px;
    font-family: 'Brush Script MT', cursive;
}
h1{
    margin: 10px;
    font-size: 30px;
}
p{
    margin: 10px;
    font-size: 15px;
}

.sec1{
    padding: 10px;
    margin: 30px;
    
}
.sec1 h1{
    text-align: center;
    padding: 10px;
    color:  rgb(240, 90, 90);
    font-size: 40px;
    border-bottom: 1px solid rgb(240, 90, 90);
    /* color: rgb(240, 90, 90);
    letter-spacing: 1px;
    text-align: center; */
}
.sec2{
    font-size: 20px;
    padding: 5px 20px 5px 20px;
    /* margin-left: 600px;
    margin-right: 600px; */
    display: flex;
    text-align: center;
    justify-content: center;
    /* text-decoration: 1px solid underline overline rgb(240, 90, 90); */
    /* border-top: 1px dotted  rgb(240, 90, 90);
    border-bottom: 1px dotted  rgb(240, 90, 90); */
}
.sec2 .pp{
    padding: 0 10px 0 10px;
    border-right: 1px solid  rgb(240, 90, 90);
}
.sec2 .cpa{
    padding: 0 10px 0 10px;
}
.sec3{
    /* padding: 10px; */
    margin: 50px 100px 0 100px ;
    padding: 5px;
    
}
.sec3 h2{
    color: rgb(240, 90, 90);
    text-align: center;
    font-size: xx-large;
    font-weight: 100;
    text-decoration: underline 2px solid;
    /* border-bottom: 1px solid rgb(240, 90, 90); */
}
.sec3 .details{
    padding: 20px;
}
.sec3 .details .text{
    padding: 20px;
}
.details h3{
    letter-spacing: 1px;
    padding: 10px;
    text-align: left;
    font-size: x-large
}
.details .text p{
    text-align: justify;
    font-size: large;
    word-spacing: 1px;
}
